<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="contact p-3 text-center ">
        <h2 class="text-uppercase fw-bold">contact section</h2>
        <div class="star-container">
            <i class="fa-solid fa-star"></i>
        </div>

        <div class="inputs text-start">

            <input type="text" placeholder="userName">
            <input type="text" placeholder="userAge">
            <input type="text" placeholder="userEmail">
            <input type="text" placeholder="userPassword">

            <button class="bg-success text-white border-0 py-2 px-4 ms-3 rounded-3  ">send Message</button>

        </div>
    </div>

</body>

</html>