* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 28px;
}

.star-container {
    position: relative;
    display: inline-block;
}

.star-container::before,
.star-container::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #2C3E50;
    top: 50%;
}

.star-container::before {
    right: 100%;
    margin-right: 15px;
}

.star-container::after {
    left: 100%;
    margin-left: 15px;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-self: center;
}

.inputs input {
    display: block;
    padding: 5px;
    margin: 20px;
    border: none;
    box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.5);
    outline: none;
    background: transparent;
}

input::placeholder {
    font-size: 10px;
}

button {
    font-size: 10px;
    max-width: fit-content;
}