<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="portfolio p-5 text-center ">
        <h2 class="text-uppercase">portfolio component</h2>
        <div class="star-container">
            <i class="fa-solid fa-star"></i>
        </div>

        <div class="cards  ">


            <div class="col">
                <div class="card">
                    <img [src]="image1" class="card-img-top" alt="...">
                    <div class="overlay">
                        <a href="#" class="icon">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>

                </div>
            </div>


            <div class="col">
                <div class="card">
                    <img [src]="image2" class="card-img-top" alt="...">
                    <div class="overlay">
                        <a href="#" class="icon">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img [src]="image3" class="card-img-top" alt="...">
                    <div class="overlay">
                        <a href="#" class="icon">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img [src]="image4" class="card-img-top" alt="...">
                    <div class="overlay">
                        <a href="#" class="icon">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img [src]="image5" class="card-img-top" alt="...">
                    <div class="overlay">
                        <a href="#" class="icon">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img [src]="image6" class="card-img-top" alt="...">
                    <div class="overlay">
                        <a href="#" class="icon">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>



</body>

</html>