<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App-1</title>
</head>

<body>

    <div class="about p-5 m text-center text-white">
        <h2 class="text-uppercase fw-bold mb-1">about component</h2>
        <div class="star-container">
            <i class="fa-solid fa-star"></i>
        </div>
        <div class="ppp row row-cols-1 row-cols-sm-2  text-center">
            <p class="text-start">Freelancer is a free bootstrap theme created by Route. The download includes the
                complete
                source files
                including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            <p class=" text-start">Freelancer is a free bootstrap theme created by Route. The download includes the
                complete source files
                including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
    </div>

</body>

</html>