<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App-1</title>
</head>

<body>

    <div class="home text-center text-white">
        <img [src]="homeImage" alt="home image">
        <h2 class="text-uppercase fw-bold">start Framework</h2>
        <div class="star-container">
            <i class="fa-solid fa-star"></i>
        </div>
        <p class="mt-2">Graphic Artist - Web Designer - Illustrator</p>
    </div>

</body>

</html>