<nav class="navbar navbar-expand-sm py-2 px-5 text-uppercase fw-bold fixed-top position-relative">
    <div class="container-fluid">
        <a class="navbar-brand text-white mb-2" routerLink="/home">Start Framework</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link for-active text-white" routerLink="/about"
                        routerLinkActive="active rounded-3">about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link for-active text-white" routerLink="/portfolio"
                        routerLinkActive="active rounded-3">portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link for-active text-white" routerLink="/contact"
                        routerLinkActive="active rounded-3">contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>